@model PetsApplication.Models.Products

@{
    ViewBag.Title = "PetDogs";
}


<h2>Pet Dogs</h2>
<div class="container">
    <div class="col-md-4">
        @*<img src="~/images/dogs/a97c4a1614b53d6f55ae2464b06ba6aa-medium.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">*@
        <img src=~/Models/p" class="img-circle" alt="Cinque Terre" width="304" height="236">
    </div>
   
    <div class="about col-xs-12 col-sm-12 col-md-6 col-lg-6" >
            <h3>Basset Hound Puppies For Sale</h3>
            <table cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td>Breed:</td>
                        <td>
                            <p>Hound</p>
                        </td>
                    </tr>


                    <tr>
                        <td>Weight:</td>
                        <td>
                            <p>6-8 Kgs.</p>
                        </td>
                    </tr>


                    <tr>
                        <td>Height:</td>
                        <td>
                            <p>30-32 cms.</p>
                        </td>
                    </tr>


                    <tr>
                        <td>Color:</td>
                        <td>
                            <p>Tricolour</p>
                        </td>
                    </tr>



                    <tr>
                        <td>Price</td>
                        <td class="price"><span class="amount"><span class="WebRupee">Rs.&nbsp;</span>65,000</span></td>
                    </tr>

                </tbody>
            </table>
            <br />
            <br />

            <p >
                Affectionate, lazy, devoted, quiet, and peaceful, the Basset Hound does exceptionally well with a family. This breed loves children, and generally does well with other animals. They can be taught tricks,
            </p>
            <button type="button" class="btn btn-primary btn-md">
                Add To Cart
            </button>
            <button type="button" class="btn btn-primary btn-md">
                Buy Now
            </button>
        </div>

</div>


