
@{
    ViewBag.Title = "Home";
}


<h3></h3>
<div class="jumbotron">
    <img src="~/images/logo_pet.png" alt="Sample Photo" />
   
    
    <img src="~/images/header.jpg" alt="Sample Photo" />
    <p class="lead">Opening your home to a pet can be a formative experience for parents and children alike. Raising a pet teaches responsibility, kindness and compassion for another living creature. Besides being adorable, pets give back to humans, and the internet is awash with moving videos of animals performing heroic acts and scientific studies of dogs and cats using their power of cute to physically and emotionally heal.</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/images/dog-1.jpg" alt="Sample Photo" style="width: 347px;" />
        <h2>You Can Search For Pets Here</h2>
        <p></p>
        <p>@Html.ActionLink("Search Pets", "Index","Products", null, new { @class = "btn btn-primary" })
        @*<a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301865">Search Pets Here &raquo;</a>*@</p>
        @*<h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <img src="~/images/petrelated.jpg" alt="Sample Photo" style="height: 202px;width: 380px;" />
        <h2>You Can Check Pet Related Items</h2>
        <p>@*NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.*@</p>
        <p>@Html.ActionLink("Search Related Items", "Index", "Products", null, new { @class = "btn btn-primary" })
<p>@*<a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301866">Search Related Items &raquo;</a>*@</p>
    </div>
    <div class="col-md-4">
        <img src="~/images/store-locator.png" alt="Sample Photo" style="height: 202px;width: 380px;"/>
        <h2>You Can See Your Nearest Stores Here</h2>
        <p>@*You can easily find a web hosting company that offers the right mix of features and price for your applications.*@</p>
        <p>@Html.ActionLink("Click To See Nearest Stores", "Index", "Products", null, new { @class = "btn btn-primary" })
<p>@*<a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301867">Click To See Nearest Stores &raquo;</a>*@</p>
    </div>
</div>